<section class="content-header">
  <h2>
    Debit/Credit
    <small>Note</small>
  </h2>
</section>
<section class="content" id="popupcontainer">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{ service.companyDetails.CompanyFullName }}
          </h3>
        </div>
        <div class="box-body form-content-ang7">
          <form #manualdncn="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="nav-tabs-custom" style="box-shadow: none;">
                  <ul class="nav nav-tabs with-darker-border mgn-b-15">
                    <li class="active">
                      <a href="#tab_1" data-toggle="tab" aria-expanded="true"
                        >Create Note</a>
                    </li>
                    <li>
                      <a href="#tab_2" data-toggle="tab" aria-expanded="false"
                        >Update Note</a>
                    </li>
                    <li>
                      <a href="#tab_3" data-toggle="tab" aria-expanded="false"
                        >Print Note</a>
                        <!-- (click)="service.resetDataOnTabChange();service.getEmailReportType();" -->
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                      <app-manual-dr-cr-save></app-manual-dr-cr-save>
                    </div>
                    <div class="tab-pane " id="tab_2">
                      <!-- Container for Update details -->
                    </div>
                    <div class="tab-pane " id="tab_3">
                      <!-- Container for Print Details -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>